@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definimos los colores por defecto (un estilo oscuro y profesional) */
:root {
  --color-primary: #3b82f6;    /* Azul moderno */
  --color-secondary: #10b981;  /* Esmeralda */
  --color-bg: #020617;         /* Pizarra muy oscuro */
  --color-surface: #0f172a;    /* Pizarra intermedio */
}
